.interaction-card {
    transition: all 0.2s ease-in-out;
    width: 100%;
  }
  
  .interaction-card:hover {
    transform: translateY(-3px);
  }
  
  .interaction-header {
    margin-bottom: 15px;
    width: 100%;
    margin: 0 auto;
  }
  
  .interaction-title {
    letter-spacing: 1.2px;
    font-weight: 500;
  }
  
  .interaction-switch {
    transition: all 0.2s ease-in-out;
  }
  
  .interaction-graph {
    height: 400px;
    margin-top: 15px;
  }
  
  .hidden {
    display: none;
  }
  